.div1 {
    background-color:rgba(255, 255, 255, 1);
    width:360px;
    height:740px;
    position:absolute;
}
.e1_29 {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:360px;
    height:360px;
    position:absolute;
    left:0px;
    top:84px;
}
.e1_30 {
    background-color:rgba(255, 255, 255, 1);
    width:360px;
    height:324px;
    position:absolute;
    left:0px;
    top:416px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.e1_31 {
    background-color:rgba(137.00000703334808, 225.00000178813934, 164.00000542402267, 1);
    width:95px;
    height:95px;
    position:absolute;
    left:16px;
    top:353px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.e1_31 {
      border:4px solid rgba(255, 255, 255, 1);
  }
.e1_32 {
    color:rgba(98.81249696016312, 98.81249696016312, 98.81249696016312, 1);
    width:311px;
    height:34px;
    position:absolute;
    left:25px;
    top:493px;
    font-family:Inter;
    text-align:left;
    font-size:14px;
    /*letter-spacing:-1.5;*/
}
.e1_33 {
    color:rgba(0, 0, 0, 1);
    width:311px;
    height:19px;
    position:absolute;
    left:25px;
    top:535px;
    font-family:Inter;
    text-align:left;
    font-size:16px;
    /*letter-spacing:-1.5;*/
}
.e1_34 {
    color:rgba(0, 0, 0, 1);
    width:303px;
    height:29px;
    position:absolute;
    left:25px;
    top:456px;
    font-family:Inter;
    text-align:left;
    font-size:24px;
    /*letter-spacing:-1.5;*/
}
.e1_35 {
    width:80px;
    height:58px;
    position:absolute;
    left:140px;
    top:642px;
}
.e1_36 {
    width:26px;
    height:25.98699951171875px;
    position:absolute;
    left:27px;
    top:0px;
}
.e1_37 {
    background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
    width:26px;
    height:25.98699951171875px;
    position:absolute;
    left:0px;
    top:0px;
}
.e1_38 {
    color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
    width:80px;
    height:20px;
    position:absolute;
    left:0px;
    top:38px;
    font-family:Inter;
    text-align:center;
    font-size:16px;
    /*letter-spacing:-1.5;*/
}
.e1_39 {
    width:80px;
    height:60px;
    position:absolute;
    left:256px;
    top:640px;
}
.e1_40 {
    width:26px;
    height:27px;
    position:absolute;
    left:27px;
    top:0px;
}
.e1_41 {
    background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
    width:26px;
    height:27px;
    position:absolute;
    left:0px;
    top:0px;
}
.e1_42 {
    color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
    width:80px;
    height:20px;
    position:absolute;
    left:0px;
    top:40px;
    font-family:Inter;
    text-align:center;
    font-size:16px;
    /*letter-spacing:-1.5;*/
}
.e1_43 {
    width:80px;
    height:58px;
    position:absolute;
    left:25px;
    top:642px;
}
.e1_44 {
    color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
    width:80px;
    height:20px;
    position:absolute;
    left:0px;
    top:38px;
    font-family:Inter;
    text-align:center;
    font-size:16px;
    /*letter-spacing:-1.5;*/
}
.e1_45 {
    width:26px;
    height:26px;
    position:absolute;
    left:27px;
    top:0px;
}
.e1_46 {
    width:25.999980926513672px;
    height:26.00000762939453px;
    position:absolute;
    left:0px;
    top:0px;
}
.e1_47 {
    background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
    width:9.904762268066406px;
    height:9.904762268066406px;
    position:absolute;
    left:16.095218658447266px;
    top:0px;
}
.e1_48 {
    background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
    width:24.761903762817383px;
    height:24.761903762817383px;
    position:absolute;
    left:0px;
    top:1.2381038665771484px;
}
.e1_49 {
    background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
    width:9.285714149475098px;
    height:9.273345947265625px;
    position:absolute;
    left:7.738105297088623px;
    top:7.341505527496338px;
}
