@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
body {
    margin: 0;
    line-height: normal;
}
.friendlist-child {
    position: absolute;
    width: calc(100% + 3px);
    top: 8rem;
    right: -0.12rem;
    left: -0.06rem;
    border-top: 2px solid #b9b9b9;
    box-sizing: border-box;
    height: 0.13rem;
}
.flist-child {
    position: relative;
    background-color: #fff;
    width: 20.38rem;
    height: 4.36rem;
    z-index: 0;
}
.flist-item {
    position: absolute;
    margin: 0 !important;
    top: 0.31rem;
    left: 0.19rem;
    border-radius: 15px;
    background-color: #82ecc2;
    width: 3.75rem;
    height: 3.75rem;
    z-index: 1;
}
.FLb,
.FLdiv {
    margin: 0 !important;
    left: calc(50% - 77px);
    letter-spacing: -0.01em;
    flex-shrink: 0;
}
.FLb {
    position: absolute;
    top: 0.31rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    width: 9.63rem;
    height: 2.38rem;
    z-index: 2;
}
.FLdiv {
    top: 2.69rem;
    font-weight: 500;
    width: 7.69rem;
    height: 1.38rem;
    z-index: 3;
}
.FLdiv,
.FLdiv1,
.flist {
    position: relative;
    display: flex;
    align-items: center;
}
.FLdiv1 {
    top: 2.68rem;
    right: 0.18rem;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: #ed4c5c;
    text-align: right;
    width: 9.47rem;
    height: 1.37rem;
    flex-shrink: 0;
    z-index: 4;
}
.flist {
    top: 8.63rem;
    left: calc(50% - 163px);
    width: 20.38rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.63rem;
    max-width: 31.25rem;
    text-align: left;
    font-size: 0.94rem;
    margin-bottom: 100px;
}
.flist-line {
    position: relative;
    width: calc(100% + 1px);
    top: 13.66rem;
    right: -0.03rem;
    left: -0.03rem;
    border-top: 1px solid #b9b9b9;
    box-sizing: border-box;
    height: 0.06rem;
}
.FLdiv2 {
    flex: 1;
    position: relative;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.flframe,
.flframe1 {
    position: absolute;
    width: calc(100% - 178px);
    top: 5.38rem;
    border: 1px solid #ebebf0;
    box-sizing: border-box;
    height: 2.63rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0.63rem 0.5rem;
    align-items: center;
    justify-content: center;
}
.flframe {
    right: 11.19rem;
    left: -0.06rem;
    background-color: #ebebf0;
}
.flframe1 {
    right: -0.12rem;
    left: 11.25rem;
}
.friendlist {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    text-align: center;
    font-size: 1.13rem;
    color: #000;
    font-family: Inter;
}
