@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}

.FD3backprofile,
.FD3div {
  position: absolute;
  left: 0;
}
.FD3backprofile {
  width: 100%;
  top: 5rem;
  right: 0;
  background-color: #d9d9d9;
  height: 22.5rem;
}
.FD3div {
  top: 0;
  width: 22.5rem;
  height: 6.25rem;
  display: none;
}
.FD3infobox {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 15px;
  background-color: #f7f7f7;
}
.FD3myinfo {
  position: absolute;
  width: calc(100% + 20px);
  top: 25.94rem;
  right: -0.62rem;
  left: -0.62rem;
  height: ;
  display: flex;
  flex-direction: column;
  padding: 0.63rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.FD3p {
  margin: 0;
}
.FD3about-txt {
  line-break: anywhere;
  width: 100%;
}
.FD3about {
  position: absolute;
  top: 32.19rem;
  left: 1.56rem;
  letter-spacing: -0.01em;
  color: #636363;
  display: flex;
  align-items: center;
  width: 19.44rem;
}
.FD3icon-buddystory {
  position: absolute;
  right: 1.69rem;
  bottom: 2.06rem;
  width: 1.63rem;
  height: 1.69rem;
}
.FD3buddystory,
.FD3div1 {
  position: absolute;
  width: 5rem;
}
.MP3div1 {
  right: 0;
  bottom: 0;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
}
.FD3buddystory {
  right: 1.5rem;
  bottom: 0.94rem;
  height: 3.75rem;
  text-align: center;
}
.FD3icon-buddystory1 {
  position: absolute;
  bottom: 2.06rem;
  left: calc(50% - 13px);
  width: 1.63rem;
  height: 1.69rem;
}
.FD3div2 {
  bottom: 0;
  left: calc(50% - 40px);
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
}
.FD3buddystory1,
.FD3div2,
.FD3div3 {
  position: absolute;
  width: 5rem;
}
.FD3buddystory1 {
  bottom: 0.94rem;
  left: calc(50% - 40px);
  height: 3.75rem;
  text-align: center;
}
.FD3div3 {
  bottom: 0;
  left: 0;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
}
.FD3addbuddy,
.FD3icon-addbuddy {
  position: absolute;
  bottom: 2rem;
  left: 1.69rem;
  width: 1.63rem;
  height: 1.63rem;
}
.FD3addbuddy {
  bottom: 0.94rem;
  left: 1.56rem;
  width: 5rem;
  height: 3.63rem;
  text-align: center;
}
.FD3div4 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.FD3update-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.FD3nick {
  position: absolute;
  top: 30.19rem;
  left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.13rem;
  font-size: 1.25rem;
  color: #000;
}
.FD3div5 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 17.75rem;
  flex-shrink: 0;
}
.FD3text {
  position: absolute;
  top: 35.06rem;
  left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.44rem;
  color: #000;
}
.FD3mainprofile {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #89e1a4;
  border: 4px solid #fff;
  box-sizing: border-box;
  width: 5.94rem;
  height: 5.94rem;
}
.FD3myphoto-icon,
.FD3photogroup {
  position: absolute;
  top: 0.56rem;
  left: 0.56rem;
  width: 0.75rem;
  height: 0.62rem;
}
.FD3photogroup {
  top: 23.75rem;
  left: 1.5rem;
  width: 5.94rem;
  height: 5.94rem;
}
.FD3instance-child {
  border-radius: 3px;
  background-color: #48685e;
}
.FD3component-1-inner,
.FD3instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.FD3backimgicon,
.FD3component-1 {
  position: absolute;
  width: 37rem;
  height: 1.25rem;
}
.FD3component-1 {
  top: 0;
  right: 0;
}
.FD3backimgicon {
  top: 5.56rem;
}
.FD3instance-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8f5f0;
}
.FD3icon {
  position: absolute;
  height: 25%;
  width: 7.23%;
  top: 5%;
  right: 91.1%;
  bottom: 70%;
  left: 1.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.FD3rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.5rem;
  height: 5rem;
}
.FD3icon1 {
  position: absolute;
  top: 0.45rem;
  left: 7.81rem;
  width: 6.88rem;
  height: 4.15rem;
  object-fit: cover;
}
.FD3instance-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.5rem;
  height: 5rem;
  display: none;
}
.FD3profile {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 46.25rem;
  overflow: hidden;
  text-align: left;
  font-size: 1rem;
  color: #204337;
  font-family: Inter;
}
