@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
body {
    margin: 0;
    line-height: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

body {
    margin: 0;
    line-height: normal;
}

/* 화면 너비가 1024px 이상인 경우 */
@media (min-width: 1024px) {
    .AFitem-grid-tiles-3x3 {
        
        display: grid;
        grid-template-columns: repeat(9, 1fr); /* 한 줄에 6개씩 출력되도록 grid 너비를 설정합니다. */
        gap: 2rem; /* 간격을 조정합니다. */
    }
}

@media(max-width : 1023px){
    .AFitem-grid-tiles-3x3 {
        
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 한 줄에 6개씩 출력되도록 grid 너비를 설정합니다. */
        gap: 1.5rem; /* 간격을 조정합니다. */
    }
}

/* 화면 너비가 1024px 미만인 경우 */
@media (max-width: 800px) {
    .AFitem-grid-tiles-3x3 {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 기본값인 한 줄에 3개씩 grid 너비를 설정합니다. */
        gap: 1rem; /* 간격을 조정합니다. */
    }
}

.AFchevron-left-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}
.AFlabel {
    position: relative;
    letter-spacing: 1px;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.AFicon-buttons-text-button-i {
    position: absolute;
    top: calc(50% - 18px);
    left: 0;
    width: 6.88rem;
    height: 2.25rem;
    display: flex;
    flex-direction: row;
    padding: 0.38rem 0.75rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}
.AFlabel1 {
    position: relative;
    letter-spacing: 1px;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 1rem;
    flex-shrink: 0;
}
.AFicon-buttons-text-button-i1 {
    position: absolute;
    top: calc(50% - 18px);
    right: 0;
    width: 7.5rem;
    height: 2.25rem;
    display: flex;
    flex-direction: row;
    padding: 0.38rem 0.75rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}
.AFstep-dots-icon {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 28px);
    width: 3.5rem;
    height: 0.5rem;
}
.AFmobile-steps {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: 3rem;
    color: #1554f6;
}
.AFdiv {
    position: relative;
    margin-top: 7rem;
    /*position: absolute;*/
    /*top: 3.44rem;*/
    /*left: calc(50% - 98px);*/
    font-size: 1.25rem;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}
.AFdiv1,
.AFdiv2,
.AFdiv3,
.AFyou,
.AFsearch {
    position: absolute;
    line-height: 1.5rem;
}
.AFyou {
    width: calc(100% - 32px);
    top: 5.38rem;
    left: 1rem;
    font-size: 1rem;
    letter-spacing: 0.15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AFsearch {
    top: 5.38rem;
    right: 1rem;
    font-size: 1rem;
    letter-spacing: 0.15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
}
.AFjduphoto-icon {
    position: absolute;
    top: 1.25rem;
    left: calc(50% - 34px);
    border-radius: 4px;
    width: 4.25rem;
    height: 4.25rem;
    object-fit: cover;
}

.AFdiv1,
.AFdiv2 {
    width: 90%;
    display: inline-block;
    text-align: center;
}

.AFdiv1 {
    top: calc(50% + 18.67px);
    font-family: Inter;
}

.AFdiv2 {
    top: calc(50%);
    font-size: 0.8rem;
    line-height: 1.38rem;
    font-weight: 600;
    font-family: Inter;
}
.AFdiv3 {
    top: calc(50% + 45.67px);
    font-size: 1rem;
    line-height: 1.38rem;
    font-weight: 600;
    font-family: Inter;
    width: 80%;
}
.AFitem-2 {
    flex: 1;
    position: relative;
    border-radius: 16px;
    background-color: #fff;
    min-width: 100px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AFrow-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8rem;
}
.AFrow-1 {
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    min-width: 360px;
}
.AFitem-grid-tiles-3x3 {
    position: absolute;
    top: 7.88rem;
    right: 1rem;
    /* bottom: 4rem; */
    height: auto;
    left: 1rem;
    background-color: #f8f5f0;
    max-width: 360px;
    /*
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;  Adjust this value to control the gap between items */
}
.AFallfriendlist {
    position: absolute;
    background-color: #f8f5f0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0.88rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: Inter;
}
