@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots:wght@400&display=swap');
body {
    margin: 0; line-height: normal;
}

.mlogo{
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
}

.jregister {
    position: absolute;
    height: 6.25%;
    top: 9%;
    bottom: 84.75%;
    left: calc(50% - 114px);
    width: 9.75rem;
}
.jdiv {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}
.jforminput {
    border: none;
    font-family: Inter;
    font-size: 1rem;
    background-color: #eefaea;
    align-self: stretch;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
    justify-content: flex-start;
}
.jforminput:focus {
    outline: none;
}
.jparent {
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
}
.jforminput1 {
    border: none;
    font-family: Inter;
    font-size: 1rem;
    background-color: #eefaea;
    align-self: stretch;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
    justify-content: flex-start;
    outline: none;
}
.frame-group {
    position: absolute;
    top: 0rem;
    left: calc(50% - 163.5px);
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.13rem;
}
.jparent1 {
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
    font-family: Roboto;
}
.jforminput5 {
    border: none;
    font-family: Inter;
    font-size: 1rem;
    background-color: #eefaea;
    align-self: stretch;
    border-radius: 6px;
    height: 8.38rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.75rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    outline: none;
}
.jparent2 {
    width: 20.38rem;
    height: 10.13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
}
.frame-container {
    position: absolute;
    top: 18.19rem;
    left: calc(50% - 162.5px);
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 5.19rem;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.13rem;
}
.frame-parent {
    position: absolute;
    top: 6.25rem;
    left: calc(50% - 162px);
    width: 20.44rem;
    height: 45.56rem;
}
.jdiv6 {
    position: absolute;
    top: 0%;
    left: 0%;
    letter-spacing: -0.01em;
    background: linear-gradient(202.17deg, #03c75a, #85c644);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo_main {
    position: absolute;
    height: 100%;
    width: 67.89%;
    top: 0%;
    right: 15.9%;
    bottom: 0%;
    left: 16.21%;
}
.icon-menu {
    position: absolute;
    height: 47.22%;
    width: 6.12%;
    top: 27.78%;
    right: 93.88%;
    bottom: 25%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon-notification {
    position: absolute;
    height: 41.77%;
    width: 3.73%;
    top: 38.89%;
    right: 6.36%;
    bottom: 19.34%;
    left: 89.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon-profile-circle {
    position: absolute;
    height: 41.67%;
    width: 4.59%;
    top: 38.89%;
    right: 0%;
    bottom: 19.44%;
    left: 95.41%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logo-parent {
    position: absolute;
    top: 1.5rem;
    left: calc(50% - 164px);
    width: 20.44rem;
    height: 2.25rem;
    font-size: 1.88rem;
    font-family: 'Zen Dots';
}
.joinform-child {
    position: absolute;
    top: 47.81rem;
    left: calc(50% - 161px);
    border-radius: 5px;
    background-color: #51c64d;
    width: 20.31rem;
    height: 2.56rem;
}
.jdiv7 {
    position: absolute;
    top: 47.81rem;
    left: calc(50% - 59.33px);
    font-size: 0.94rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.69rem;
    height: 2.56rem;
}
.joinform {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 52.31rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.13rem;
    color: #636363;
    font-family: Inter;
}

span:hover {
    cursor: pointer;
    color : #54C64D;
}

@media screen and (max-width: 960px) {
    .jdiv {
        font-size: 0.88rem;
    }

}

.jrl_div,
.register1 {
    position: absolute;
    top: 0;
}
.jrl_div {
    left: 0;
    letter-spacing: -0.01em;
    background: linear-gradient(202.17deg, #03c75a, #85c644);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.joinrowlist-child {
    position: absolute;
    width: calc(100% - 32px);
    top: 11.94rem;
    right: 1rem;
    left: 1rem;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 8.38rem;
}
.frl_p {
    font-size: 0.81rem;
}
.frl_p,
.frl_p1 {
    margin: 0;
}
.frl_div1,
.frl_div2 {
    position: absolute;
    line-height: 150%;
    display: inline-block;
    height: 1rem;
}
.frl_div1 {
    top: 13.06rem;
    left: 6.88rem;
    color: #000;
    width: 8.81rem;
    font-size: 0.94rem;
}
.frl_div2 {
    top: 18.63rem;
    right: 1.81rem;
    width: 4.94rem;
}
.avatar-user-60,
.frl_rectangle,
.frl_rectangle1 {
    position: absolute;
    top: 0.63rem;
    left: 1.13rem;
    border-radius: 24px;
    background-color: #54c64d;
    width: 1.5rem;
    height: 1.5rem;
}
.avatar-user-60,
.frl_rectangle1 {
    top: 2.5rem;
    left: -0.94rem;
    border-radius: 90px;
    width: 5.63rem;
    height: 5.63rem;
}
.avatar-user-60 {
    top: 13.31rem;
    left: 1.88rem;
    border-radius: 10px;
    background-color: #fff;
    width: 3.75rem;
    height: 3.75rem;
    overflow: hidden;
}
.joinrowlist-item {
    position: absolute;
    width: calc(100% - 316px);
    top: 18.56rem;
    right: 17.94rem;
    left: 1.81rem;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.16);
    border: 1px solid #ed4c5c;
    box-sizing: border-box;
    height: 1.19rem;
}
.d-day {
    position: absolute;
    top: 18.69rem;
    left: calc(50% - 142.5px);
    line-height: 150%;
    display: inline-block;
    width: 1.75rem;
}
.joinrowlist-inner {
    position: absolute;
    top: 17.97rem;
    left: 1.78rem;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 19rem;
    height: 0.06rem;
}
.joinrowlist {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    text-align: left;
    font-size: 0.75rem;
    color: #ed4c5c;
    font-family: Inter;
}
