@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
    margin: 0;
    line-height: normal;
}
.jdiv31,
.jradio9 {
    position: relative;
}

.jdiv31 {
    line-height: 1.25rem;
}
.jradio-button-setonon {
    position: absolute;
    top: calc(50% + 280px);
    left: calc(50% - 163px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.38rem;
}

.jradio-button-setoffon,
.jradio-button-setoffon1 {
    position: absolute;
    top: calc(50% + 280px);
    left: calc(50% + 62.5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.38rem;
    cursor: pointer;
}
.jradio-button-setoffon1 {
    left: calc(50% - 46px);
}
.JFregister {
    position: absolute;
    height: 6.25%;
    top: 15.13%;
    bottom: 78.62%;
    left: calc(50% - 114px);
    width: 9.75rem;
  }
  .JFgreenlbtn-child {
    margin: auto;
    position: relative;
    border-radius: 2px;
    background-color: #48685e;
    border: 1px solid #0b4648;
    box-sizing: border-box;
    width: 326px;
    height: 2.5rem;
  }
  .JFdiv,
  .JFgreenlbtn {
    position: absolute;
    display: flex;
  }
  .JFgreenlbtn {
    width: calc(100% - 34px);
    right: 1.06rem;
    bottom: 1.81rem;
    left: 1.06rem;
    border-radius: 3px;
    background-color: #48685e;
    border: 1px solid #0b4648;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .JFdiv {
    top: 47.88rem;
    left: calc(50% - 59.33px);
    font-size: 0.94rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 7.69rem;
    height: 2.5rem;
  }
  .JFdiv2,
  .JFlogo-end {
    position: absolute;
    top: 0;
  }
  .JFlogo-end {
    left: 0.06rem;
    width: 22.5rem;
    height: 6.25rem;
    display: none;
  }
  .JFdiv2 {
    width: 100%;
    left: 0;
    font-weight: 500;
    display: inline-block;
  }
  .JFdiv1 {
    position: relative;
    width: 20.38rem;
    height: 1.38rem;
  }
  .JFemail {
    border: 1px solid #d9d9d9;
    background-color: #fff;
    align-self: stretch;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.3rem;
    align-items: center;
    justify-content: flex-start;
  }
  .JFemail2:focus,
  .JFemail:focus {
    outline: 0;
  }
  .JFframe {
    position: absolute;
    top: 5.5rem;
    left: calc(50% - 163px);
    width: 20.38rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.38rem;
  }
  .JFemail2,
  .JFframe,
  .JFframe1 {
    display: flex;
    justify-content: flex-start;
  }
  .JFframe1 {
    position: absolute;
    top: 11.69rem;
    left: calc(50% - 163px);
    width: 20.38rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.38rem;
  }
  .JFemail2 {
    border: 1px solid #d9d9d9;
    font-family: Roboto;
    font-size: 1rem;
    background-color: #fff;
    align-self: stretch;
    border-radius: 3px;
    overflow: hidden;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
  }
  .JFframe2,
  .JFframe3,
  .JFframe4,
  .JFframe5 {
    position: absolute;
    top: 17.88rem;
    left: calc(50% - 163px);
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
  }
  .JFframe3,
  .JFframe4,
  .JFframe5 {
    top: 24.06rem;
  }
  .JFframe4,
  .JFframe5 {
    top: 30.25rem;
  }
  .JFframe5 {
    top: 36.44rem;
  }
  .JFlbtn-child,
  .JFdiv21 {
    position: absolute;
    height: 100%;
    top: 0;
  }
  .JFlbtn-child {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: #48685e;
  }
  .JFdiv21 {
    width: 37.73%;
    left: 31.8%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #48685E;
  }
  .JFlbtn {
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 163px);
    width: 20.38rem;
    height: 2.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.94rem;
    color: #fff;
  }

  .JFjoinform {
    position: relative;
    background-color: #f8f5f0;
    width: 100%;
    height: 52rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.13rem;
    color: #204337;
    font-family: Inter;
  }
  @media screen and (max-width: 960px) {
    .div2 {
      font-size: 0.88rem;
    }
  }
  