@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}

.JDp {
  font-weight: 600;
}
.JDp {
  margin: 0;
}
.JDtxt {
  line-break: anywhere;
  width: 100%;
}
.JDdiv {
  position: absolute;
  top: 22.56rem;
  left: calc(50% - 73px);
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 8.81rem;
}

.JDlw {
  position: relative;
  font-weight: 600;
}
.JDavatar {
  border-radius: 40px;
  background-color: rgba(84, 112, 255, 0.3);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  justify-content: center;
}
.JDavatar,
.JDavatar1,
.JDuser {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.JDuser {
  justify-content: flex-start;
  gap: 0.5rem;
}
.JDavatar1 {
  border-radius: 40px;
  background-color: rgba(255, 99, 99, 0.3);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  justify-content: center;
}
.esther-howard {
  position: relative;
  font-size: 0.94rem;
  line-height: 150%;
  color: #000;
  text-align: left;
}
.JDuser1 {
  justify-content: flex-start;
  gap: 0.5rem;
  color: #ff6363;
}
.JDavatar2,
.JDuser1,
.JDuser2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.JDavatar2 {
  border-radius: 40px;
  background-color: rgba(26, 194, 125, 0.3);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  justify-content: center;
}
.JDuser2 {
  justify-content: flex-start;
  gap: 0.5rem;
  color: #1ac27d;
}
.JDconfirmgroup,
.JDframe {
  position: absolute;
}
.JDdongbangroup,
.JDframe2 {
  position: absolute;
}
.JDframe2 {
  width: 100%;
  top: -3rem;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
  font-size: 0.75rem;
}
.JDdongbangroup {
  width: calc(100% - 32px);
  top: 30.75rem;
  right: 10.11rem;
  left: 1rem;
  text-align: center;
  font-size: 0.75rem;
  color: #5470ff;
}
.JDframe {
  width: 100%;
  top: -4rem;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
  font-size: 0.75rem;
}
.JDconfirmgroup {
  width: calc(100% - 32px);
  top: 41.75rem;
  right: 10.11rem;
  left: 1rem;
  text-align: center;
  font-size: 0.75rem;
  color: #5470ff;
}
.JDspan {
  color: #ed4c5c;
}

.JDspan1 {
  color: #ed4c5c;
}
.JDtxt {
  line-break: anywhere;
  width: 100%;
}
.JDdiv0 {
  position: absolute;
  top: 0rem;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 1.39rem;
  width: 100%;
  left: 0;
}
.JDdiv1,
.JDdiv2 {
  position: absolute;
  top: 10rem;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 1.39rem;
}
.JDdiv1 {
  width: 100%;
  left: 0;
}
.JDdiv2 {
  width: calc(100% - 157.72px);
  left: 9.61rem;
  text-align: right;
}
.JDparent {
  width: calc(100% - 34.28px);
  top: 25.94rem;
  right: 1rem;
  left: 1.14rem;
  height: 1.39rem;
}
.JDdiv3,
.JDframe1,
.JDparent {
  position: absolute;
}
.JDdiv3 {
  width: calc(100% - 3px);
  top: 8rem;
  left: 0.19rem;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  height: 1.44rem;
}
.JDframe1 {
  position: relative;
  width: 100%;
  top: 10rem;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  text-align: center;
  font-size: 0.75rem;
  color: #5470ff;
}
.JDapplygroup {
  position: absolute;
  width: calc(100% - 32px);
  top: 42rem;
  right: 1rem;
  left: 1rem;
}
.JDdiv4,
.JDicon {
  position: relative;
}
.JDdiv4 {
  letter-spacing: -0.01em;
  font-weight: 600;
}

.JDcontent,
.JDvalue {
  overflow: hidden;
  display: flex;
}
.JDvalue {
  width: 15.25rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.JDcontent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.5rem;
}
.JDdiv5 {
  position: relative;
  font-weight: 500;
}
.JDdefault {
  border-radius: 100px;
  background-color: #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0.38rem 1rem;
  align-items: center;
  justify-content: flex-start;
}
.JDvector-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  color: gray;
}
.JDdiv6 {
  position: relative;
  line-height: 1.25rem;
  display: inline-block;
  width: 15.63rem;
  flex-shrink: 0;
}
.JDcheckbox-with-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.38rem;
}
.JDdiv7 {
  position: relative;
  line-height: 1.25rem;
}
.JDcheckbox-with-label1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.38rem;
  font-size: 0.94rem;
}
.JDicon-file {
  position: relative;
  width: 1.25rem;
  height: 1.43rem;
}
.JDinfobox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.31rem;
}
.JDdiv9,
.jdinfo {
  position: absolute;
}
.jdinfo {
  width: calc(100% - 32px);
  top: 6.44rem;
  right: 1rem;
  left: 1rem;
  border-radius: 8px;
  background-color: #F8F5F0;
  border: 2px solid #48685e;
  box-sizing: border-box;
  height: 13.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0.88rem;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
}

.JDdiv10,
.joindetail-child {
  position: absolute;
  bottom: 4rem;
  height: 2.5rem;
  margin-top: 10px;
}
.JDdiv20,
.joindetail-child2 {
  position: absolute;
  bottom: 1rem;
  height: 2.5rem;
  margin-top: 10px;
}

.joindetail-child {
  width: calc(100% - 34px);
  right: 1.06rem;
  left: 1.06rem;
  border-radius: 2px;
  background-color: #48685e;
  color: #fff;
}
.joindetail-child2 {
  width: calc(100% - 34px);
  right: 1.06rem;
  left: 1.06rem;
  border-radius: 2px;
  background-color: #48685e;
}
.JDdiv10btn{
  color: #fff;
  font-size: 15px;
}
.JDdiv10 {
  left: calc(50% - 61.33px);
  font-weight: 600;
  color: #fff;
  background-color: #48685e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.69rem;
}
.JDdiv20 {
  left: calc(50% - 61.33px);
  font-weight: 600;
  color: #fff;
  background-color: #48685e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.69rem;
}
.icon-golf-terrain {
  position: absolute;
  height: 14.47%;
  width: 47.35%;
  top: 72.47%;
  right: -90.42%;
  bottom: 13.06%;
  left: 143.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.jduphoto-icon {
  position: relative;
  width: 3.69rem;
  height: 3.63rem;
  object-fit: cover;
}
.JDp4,
.JDp5 {
  margin: 0;
  font-weight: 600;
}
.JDp5 {
  font-weight: 300;
  color: #636363;
}
.JDdiv11 {
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 10.5rem;
  flex-shrink: 0;
}
.JDgroup-child {
  position: absolute;
  top: 0.06rem;
  right: 0;
  border-radius: 20px;
  background-color: #48685e;
  border: 1px solid #48685e;
  box-sizing: border-box;
  width: 3.75rem;
  height: 1.53rem;
}
.JDdiv12,
.JDrectangle-parent {
  width: 3.75rem;
  height: 1.63rem;
}
.JDdiv12 {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 150%;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.JDrectangle-parent {
  position: relative;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
  top: 25px;
}
.JDflistprofile,
.JDflistprofile1 {
  display: flex;
  flex-direction: row;
}
.JDflistprofile1 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #F8F5F0;
  overflow: hidden;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 1.63rem;
}
.JDflistprofile {
  position: absolute;
  top: 20.38rem;
  left: calc(50% - 177px);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1rem;
}
.joindetail {
  position: relative;
  background-color: #F8F5F0;
  width: 100%;
  height: 60rem;
  overflow: auto;
  text-align: left;
  font-size: 0.94rem;
  color: #000;
  font-family: Inter;
}