@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
    margin: 0;
    line-height: normal;
}
.JLdiv {
    position: absolute;
    top: 0;
}
.JLdiv {
    left: 0;
    letter-spacing: -0.01em;
    background: linear-gradient(202.17deg, #03c75a, #85c644);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.JLb {
    position: relative;
    letter-spacing: 0.03em;
    width: 4.25rem;
    flex-shrink: 0;
}
.JLb,
.JLb1,
.btn1_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1_wrapper {
    position: absolute;
    top: 5.38rem;
    left: 1.06rem;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #51c64d;
    box-sizing: border-box;
    width: 4.69rem;
    overflow: hidden;
    flex-direction: row;
    padding: 0.56rem 1.13rem;
}
.JLb1 {
    position: relative;
    letter-spacing: 0.03em;
    width: 2.75rem;
    flex-shrink: 0;
}
.btn2_wrapper,
.joinlist-child {
    position: absolute;
    overflow: hidden;
    border: 1px solid black;
}
.btn2_wrapper {
    top: 5.38rem;
    right: 1rem;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #ed4c5c;
    box-sizing: border-box;
    width: 4.69rem;
    display: flex;
    flex-direction: row;
    padding: 0.56rem 1.81rem;
    align-items: center;
    justify-content: center;
}
.joinlist-child {
    width: calc(100% - 205px);
    top: 5.25rem;
    right: 6.38rem;
    left: 6.44rem;
    max-width: 100%;
    height: 2.31rem;
}
.instance-child,
.jlist-inner {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}
.instance-child {
    height: 100%;
    bottom: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.jlist-inner {
    height: 8.38rem;
}
.JLp,
.JLp1 {
    margin: 0;
}
.JLp1 {
    font-size: 0.94rem;
    font-weight: 500;
}
.JLdiv1 {
    position: absolute;
    top: 1.06rem;
    left: 5.88rem;
    line-height: 150%;
    color: #000;
    display: inline-block;
    width: 8.88rem;
    font-size: 0.81rem;
}
.emoji-flag-in-hole {
    position: absolute;
    top: 0.06rem;
    right: 6.06rem;
    width: 1rem;
    height: 1.03rem;
}
.JLdiv2 {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 150%;
    display: inline-block;
    width: 5.5rem;
}
.emoji-flag-in-hole-parent {
    position: absolute;
    top: 6.13rem;
    right: 0.81rem;
    width: 7.06rem;
    height: 1.13rem;
}
.avatar-user-60,
.rectangle,
.rectangle1 {
    position: absolute;
    top: 0.63rem;
    left: 1.13rem;
    border-radius: 24px;
    background-color: #54c64d;
    width: 1.5rem;
    height: 1.5rem;
}
.avatar-user-60,
.rectangle1 {
    top: 2.5rem;
    left: -0.94rem;
    border-radius: 90px;
    width: 5.63rem;
    height: 5.63rem;
}
.avatar-user-60 {
    top: 1.13rem;
    left: 0.63rem;
    border-radius: 10px;
    background-color: #fff;
    width: 3.76rem;
    height: 3.75rem;
    overflow: hidden;
}
.group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.16);
    border: 1px solid #ed4c5c;
    box-sizing: border-box;
    width: 3.75rem;
    height: 1.19rem;
}
.d-16 {
    position: absolute;
    top: 0.13rem;
    bottom: 0.13rem;
    left: 0.75rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.33rem;
}
.rectangle-parent {
    position: absolute;
    top: 6.13rem;
    left: 0.63rem;
    width: 3.75rem;
    height: 1.25rem;
    text-align: center;
}
.jlist-child {
    width: calc(100% - 25.08px);
    top: 5.47rem;
    right: 0.78rem;
    left: 0.78rem;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    height: 0.06rem;
}
.jlist,
.jlist1 {
    position: relative;
    min-width: 20.63rem;
}
.jlist1 {
    margin-bottom: 180px;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.jlist {
    top: 9.31rem;
    display: flex;
    flex-direction: row;
    padding: 0.63rem;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    max-width: 31.25rem;
    text-align: left;
    color: #ed4c5c;
}

.joinlist {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    text-align: center;
    font-size: 0.75rem;
    color: #000;
    font-family: Inter;
}
.nav-style {
    text-decoration: none;
    color: black;
}