@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots:wght@400&display=swap');
body {
    margin: 0; line-height: normal;
}

.mlogo{
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
}

.jregister {
    position: absolute;
    height: 6.25%;
    top: 9%;
    bottom: 84.75%;
    left: calc(50% - 114px);
    width: 9.75rem;
}
.jdiv {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}
.jforminput {
    border: none;
    font-family: Inter;
    font-size: 1rem;
    background-color: #eefaea;
    align-self: stretch;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
    justify-content: flex-start;
}
.jforminput:focus {
    outline: none;
}
.jparent {
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
}
.jforminput1 {
    border: none;
    font-family: Inter;
    font-size: 1rem;
    background-color: #eefaea;
    align-self: stretch;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
    justify-content: flex-start;
    outline: none;
}
.frame-group {
    position: absolute;
    top: 0rem;
    left: calc(50% - 163.5px);
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.13rem;
}
.jparent1 {
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
    font-family: Roboto;
}
.jforminput5 {
    border: none;
    font-family: Inter;
    font-size: 1rem;
    background-color: #eefaea;
    align-self: stretch;
    border-radius: 6px;
    height: 8.38rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.75rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    outline: none;
}
.jparent2 {
    width: 20.38rem;
    height: 10.13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
}
.frame-container {
    position: absolute;
    top: 18.19rem;
    left: calc(50% - 162.5px);
    width: 20.38rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 5.19rem;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.13rem;
}
.frame-parent {
    position: absolute;
    top: 6.25rem;
    left: calc(50% - 162px);
    width: 20.44rem;
    height: 45.56rem;
}
.jdiv6 {
    position: absolute;
    top: 0%;
    left: 0%;
    letter-spacing: -0.01em;
    background: linear-gradient(202.17deg, #03c75a, #85c644);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo_main {
    position: absolute;
    height: 100%;
    width: 67.89%;
    top: 0%;
    right: 15.9%;
    bottom: 0%;
    left: 16.21%;
}
.icon-menu {
    position: absolute;
    height: 47.22%;
    width: 6.12%;
    top: 27.78%;
    right: 93.88%;
    bottom: 25%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon-notification {
    position: absolute;
    height: 41.77%;
    width: 3.73%;
    top: 38.89%;
    right: 6.36%;
    bottom: 19.34%;
    left: 89.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon-profile-circle {
    position: absolute;
    height: 41.67%;
    width: 4.59%;
    top: 38.89%;
    right: 0%;
    bottom: 19.44%;
    left: 95.41%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logo-parent {
    position: absolute;
    top: 1.5rem;
    left: calc(50% - 164px);
    width: 20.44rem;
    height: 2.25rem;
    font-size: 1.88rem;
    font-family: 'Zen Dots';
}
.joinform-child {
    position: absolute;
    top: 47.81rem;
    left: calc(50% - 161px);
    border-radius: 5px;
    background-color: #51c64d;
    width: 20.31rem;
    height: 2.56rem;
}
.jdiv7 {
    position: absolute;
    top: 47.81rem;
    left: calc(50% - 59.33px);
    font-size: 0.94rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.69rem;
    height: 2.56rem;
}
.joinform {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 52.31rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.13rem;
    color: #636363;
    font-family: Inter;
}

@media screen and (max-width: 960px) {
    .jdiv {
        font-size: 0.88rem;
    }

}
