
.buddy_footer {
    position: fixed;
    border: 1px lightgrey solid;
    background-color: white;
    width: 100%;
    height: 75px;
    bottom: 0;
    display: flex;
    justify-content: space-around;

}
.buddy_footmenu{
    margin-top: 20px;
    width: 25%;
    text-align: center;
}
