.div1{
    display: flex;
    /*width: 22.5rem;*/
    padding: 7rem 1rem 15rem 1rem;
    flex-direction: column;
    align-items: center;
}
.div2{
    /*text-align: center;*/
}
.div3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greenbox{
    display: inline-flex;
    width: 20rem;
    height: 2.9rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
    align-items: center;
    gap: 2.65631rem;

    border-radius: 0.125rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: RGB(238, 250, 234);
}
.loginbtn{
    justify-content: center;
    background-color: rgb(137, 255, 164);
}
.naverbtn{
    width: 10rem;
}
.kakaobtn{
    width: 10rem;
}
input[type="text"],input[type="password"]::placeholder {
    text-align: center;
}
input[type="text"], input[type="password"] {
    text-align: center;
}