.TTspan {
    color: rgba(72, 72, 72, 0.79);
  }
  .TTspan1 {
    color: #ed4c5c;
  }
  .TTli {
    margin-bottom: 0.7rem;
    font-size: 0.74rem;
  }
  .TTul {
    margin: 0;
    padding-left: 1.31rem;
  }
  .TTdiv {
    position: absolute;
    width: calc(100% - 32px);
    top: 15.75rem;
    left: 1rem;
    font-size: inherit;
    letter-spacing: -0.01em;
    font-family: inherit;
    display: flex;
    align-items: center;
    height: 9.88rem;
    color: rgba(72, 72, 72, 0.79);
  }
  .TTgroup-child {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0b4648;
    height: 3.13rem;
  }
  .TTdiv1 {
    position: absolute;
    top: 0.81rem;
    left: 1.06rem;
    letter-spacing: -0.01em;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 10.38rem;
    height: 1.56rem;
  }
  .TTrectangle-parent {
    position: absolute;
    width: 100%;
    top: 6.25rem;
    right: 0;
    left: 0;
    height: 3.13rem;
    font-size: 1.06rem;
    color: #fff;
  }
  .TTb,
  .TTgroup-item {
    position: absolute;
    height: 2.5rem;
  }
  .TTb {
    width: calc(100% - 155px);
    top: 11.31rem;
    left: 4.94rem;
    font-size: 1.25rem;
    letter-spacing: -0.01em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .TTgroup-item {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 3px;
    background-color: #48685e;
  }
  .TTdiv2 {
    position: absolute;
    width: calc(100% - 193px);
    top: 0.5rem;
    left: 6.06rem;
    letter-spacing: -0.01em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.43rem;
  }
  .TTrectangle-group {
    position: absolute;
    width: calc(100% - 32px);
    top: 42.19rem;
    right: 1rem;
    left: 1rem;
    height: 2.5rem;
    text-align: center;
    color: #fff;
  }
  .TTicon-close-outline {
    position: absolute;
    height: 3.13%;
    top: 13.18%;
    right: 1rem;
    bottom: 83.7%;
    max-height: 100%;
    width: 1.56rem;
  }
  .TTdiv3,
  .TTgroup-inner {
    position: absolute;
    top: 0;
    left: 0;
  }
  .TTdiv3 {
    width: calc(100% - 170px);
    letter-spacing: -0.01em;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 1.13rem;
  }
  .TTgroup-inner {
    width: calc(100% - 86px);
    right: 5.38rem;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 2.5rem;
  }
  .TTdiv4 {
    position: absolute;
    width: calc(100% - 112px);
    top: 0.69rem;
    left: 0.63rem;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    height: 1.19rem;
  }
  .TTrectangle-div {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3px;
    background-color: #48685e;
    width: 4.38rem;
    height: 2.5rem;
  }
  .TTdiv5 {
    position: absolute;
    top: 0.56rem;
    right: 0.19rem;
    font-size: 0.81rem;
    letter-spacing: -0.01em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.06rem;
    height: 1.38rem;
  }
  .TTrectangle-container {
    position: absolute;
    width: 100%;
    top: 1.44rem;
    right: 0;
    left: 0;
    height: 2.5rem;
    font-size: 0.75rem;
    color: rgba(126, 126, 126, 0.8);
  }
  .TTparent {
    width: calc(100% - 32px);
    top: 26.56rem;
    right: 1rem;
    left: 1rem;
    height: 3.94rem;
  }
  .TTdiv6,
  .TTgroup,
  .TTparent {
    position: absolute;
  }
  .TTdiv6 {
    width: calc(100% - 233px);
    top: 0;
    left: 0;
    letter-spacing: -0.01em;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 1.13rem;
  }
  .TTgroup {
    width: calc(100% - 32px);
    top: 31.75rem;
    right: 1rem;
    left: 1rem;
    height: 3.94rem;
  }
  .TTbirdie-buddy,
  .TTdiv9 {
    position: absolute;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
  }
  .TTbirdie-buddy {
    top: 48.13rem;
    left: calc(50% - 44px);
    font-family: "Abhaya Libre ExtraBold";
    color: #b9b9b9;
    text-align: center;
    justify-content: center;
    width: 5.5rem;
    height: 0.94rem;
  }
  .TTdiv9 {
    top: 0;
    left: 1.69rem;
    width: 18.81rem;
    height: 1.5rem;
  }
  .TTicon-check-circle {
    position: absolute;
    top: 0.13rem;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
  }
  .TTcontainer {
    position: absolute;
    top: 37.56rem;
    left: 1rem;
    width: 20.5rem;
    height: 1.5rem;
    font-size: 0.88rem;
  }
  .TTmemberdelete {
    position: relative;
    background-color: #f8f5f0;
    width: 100%;
    height: 53.13rem;
    overflow: hidden;
    text-align: left;
    font-size: 0.81rem;
    color: #000;
    font-family: Inter;
  }
  