.mainpage {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow-x: hidden; /* 스크롤이 필요한 경우 자동으로 생성되도록 설정합니다. */
    font-size: 0.81rem;
    color: #000;
}
.main_banner{
    text-align: center;
}
.main_banner img{
    width: 100%;
    height: 175px;
}
.main_notice{
    height: 25px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    overflow-y: hidden;
    display: flex;
    position: relative;
    bottom: 15px;
    width: 100vw;
    overflow: hidden;
}
.main_btnwrap {
    margin: 10px auto 30px auto;
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.main_bgbtn{
    width: 45%;
}
.mainbutton_child{
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(57, 199, 81);
    border : 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 2px 4px 4px lightgrey;
}
.main_smbtn{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.mainbutton_item{
    width: 100%;
    height: 45%;
    background-color: white;
    border: 1px lightgrey solid;
    box-shadow: 2px 4px 4px lightgrey;
    border-radius: 5px;
}
.main_join{
    margin: 15px 0;
    width: 750px;
    overflow-x: hidden;
}
.rec_slider{
    display: flex !important;
    border: 1px lightgrey solid;
    border-radius: 5px;
    width: 230px !important;
    height: 120px;
    align-items: center;
    margin-left: 10px;
    box-shadow: 2px 2px 4px lightgrey;
}
.rec_info{
    width: 60%;
    font-size: 12px;
 }
.main_joinrecotxt{
    margin-bottom: 5px;
    margin-left: 15px;
}
.main_joinreco div img{
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin-left: 15px;
}
.main_joinreco div span{
    margin-left: 30px;
}
.main_reviewtxt{
    margin-bottom: 8px;
    margin-left: 10px;
}