.mainpage {
    background-color: #fff;
    width: 100%;
    height: 58rem;
    overflow: hidden;
    font-size: 0.81rem;
    color: #000;
}
.main_banner{
    margin: 100px 0 0 0;
    text-align: center;
}
.main_banner img{
    width: 100%;
    height: 170px;
}

.main_btnwrap {
    margin: 30px auto;
    width: 95%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.main_bgbtn{
    width: 45%;
}
.mainbutton_child{
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(57, 199, 81);
    border : none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
.main_smbtn{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.mainbutton_item{
    width: 100%;
    height: 45%;
    background-color: white;
    border: 1px lightgrey solid;
    box-shadow: 1px 1px 1px lightgrey;
    border-radius: 5px;
}
.main_join{
    margin: 15px 0;
    width: 700px;
}
.rec_slider{
    display: flex !important;
    border: 1px lightgrey solid;
    border-radius: 5px;
    width: 210px !important;
    height: 120px;
    align-items: center;
    margin-left: 15px;
}
.main_joinrecotxt{
    margin-bottom: 5px;
    margin-left: 15px;
}
.main_joinreco div img{
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin-left: 15px;
}
.main_joinreco div span{
    margin-left: 20px;
}
.main_reviewwrap{
    margin-top: 30px;
    margin-left: 12px;
}
.main_reviewtxt{
    margin-bottom: 8px;
    margin-left: 10px;
}