.PC3li {
  margin-bottom: false;
}
.PC3ul {
  margin: 0;
  padding-left: 1.3rem;
}
.PC3div {
  position: absolute;
  width: calc(100% - 32px);
  top: 21.5rem;
  left: 1rem;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-family: inherit;
  color: #484848;
  display: flex;
  align-items: center;
  height: 4.63rem;
}
.PC3group-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 3px;
  background-color: #48685e;
  height: 2.19rem;
}
.PC3div1 {
  position: absolute;
  width: calc(100% - 193px);
  top: 0.44rem;
  left: 6.06rem;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
}
.PC3rectangle-parent {
  position: absolute;
  width: calc(100% - 32px);
  top: 27.06rem;
  right: 1rem;
  left: 1rem;
  height: 2.19rem;
  text-align: center;
}
.PC3group-item {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 2.5rem;
}
.PC3div2 {
  position: absolute;
  width: calc(100% - 98px);
  top: 0.69rem;
  left: 0.63rem;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  height: 1.19rem;
}
.PC3div3,
.PC3rectangle-group {
  position: absolute;
  left: 0;
}
.PC3rectangle-group {
  width: 100%;
  top: 1.44rem;
  right: 0;
  height: 2.5rem;
}
.PC3div3 {
  width: calc(100% - 233px);
  top: 0;
  font-size: 0.81rem;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  height: 1.13rem;
}
.PC3group-parent {
  position: absolute;
  width: calc(100% - 32px);
  top: 11.25rem;
  right: 1rem;
  left: 1rem;
  height: 3.94rem;
  font-size: 0.75rem;
  color: rgba(126, 126, 126, 0.8);
}
.PC3div4 {
  position: absolute;
  width: calc(100% - 233px);
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 1.13rem;
}
.PC3rectangle-container {
  position: absolute;
  width: 100%;
  top: 1.44rem;
  right: 0;
  left: 0;
  height: 2.5rem;
  font-size: 0.75rem;
  color: rgba(126, 126, 126, 0.8);
}
.PC3parent {
  position: absolute;
  width: calc(100% - 32px);
  top: 16.44rem;
  right: 1rem;
  left: 1rem;
  height: 3.94rem;
  color: #000;
}
.PC3birdie-buddy {
  position: absolute;
  top: 32.69rem;
  left: calc(50% - 44px);
  letter-spacing: -0.01em;
  font-family: "Abhaya Libre ExtraBold";
  color: #b9b9b9;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 0.94rem;
}
.PC3passwordsearch2-child {
  position: absolute;
  width: 100%;
  top: 6.25rem;
  right: 0;
  left: 0;
  background-color: #0b4648;
  height: 3.13rem;
}
.PC3div6 {
  position: absolute;
  width: calc(100% - 28px);
  top: 0;
  left: 1.75rem;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 1.56rem;
}
.PC3icon-arrow-left {
  position: absolute;
  top: 0.22rem;
  left: -0.09rem;
  width: 1.13rem;
  height: 1.09rem;
}
.PC3group {
  position: absolute;
  width: calc(100% - 152px);
  top: 7.06rem;
  right: 8.25rem;
  left: 1.25rem;
  height: 1.56rem;
  font-size: 1.06rem;
}
.PC3passwordsearch2 {
  position: relative;
  background-color: #f8f5f0;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.81rem;
  color: #fff;
  font-family: Inter;
}
