.YMtitle {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 180px);
    letter-spacing: 0.15px;
    font-weight: 500;
    display: inline-block;
    width: 22.5rem;
  }
  .YMp {
    margin: 0;
  }
  .YMtext-txt {
    line-break: anywhere;
    width: 100%;
  }
  .YMdone,
  .YMtext {
    position: absolute;
  }
  .YMtext {
    top: calc(50% + 11px);
    left: calc(50% - 180px);
    font-size: 1rem;
    letter-spacing: 0.44px;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    width: 22.5rem;
    height: 3.69rem;
  }
  .YMdone {
    top: 0;
    left: 0;
    line-height: 100%;
  }
  .YMicon-font {
    position: absolute;
    top: calc(50% - 116px);
    left: calc(50% - 48px);
    width: 6rem;
    height: 6rem;
    font-size: 1.5rem;
    color: #32d5ad;
    font-family: "Material Icons";
  }
  .YMclose-clear {
    position: absolute;
    right: 0;
    bottom: 13.13rem;
    border-radius: 40px;
    width: 2.5rem;
    height: 2.5rem;
  }
  .YMtext1 {
    position: absolute;
    top: calc(50% + 74px);
    left: calc(50% - 180px);
    font-size: 0.75rem;
    line-height: 0.94rem;
    font-family: Inter;
    color: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.5rem;
    height: 1.5rem;
  }
  .YMyangdopopup {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 15.63rem;
    text-align: center;
    font-size: 1.25rem;
    color: #292d32;
    font-family: Roboto;
  }
  