@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
body {
    margin: 0;
    line-height: normal;
}

.YDDline-separator {
    align-self: stretch;
    position: relative;
    background-color: rgba(0, 0, 0, 0.12);
    height: 0.06rem;
}
.YDDdivider {
    position: absolute;
    top: 5.19rem;
    left: calc(50% - 164px);
    width: 20.5rem;
    height: 0.12rem;
    display: flex;
    flex-direction: column;
    padding: 0.19rem 0 0.25rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.YDDgreenlbtn-child {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: #89e1a4;
}
.YDDdiv,
.YDDgreenlbtn-child,
.YDDgreenlbtn1 {
    position: absolute;
    height: 100%;
    top: 0;
}
.YDDdiv {
    width: 37.73%;
    left: 30.98%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.YDDgreenlbtn1 {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}
.YDDgreenlbtn {
    position: absolute;
    bottom: 1.94rem;
    left: calc(50% - 163px);
    width: 20.38rem;
    height: 2.5rem;
    text-align: center;
    color: #292d32;
}
.YDDdiv1,
.YDDicon {
    position: relative;
}
.YDDdiv1 {
    letter-spacing: -0.01em;
    font-weight: 600;
}
.YDDicon {
    width: 1.5rem;
    height: 1.5rem;
}
.YDDvalue {
    width: 10.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.YDDlabel {
    flex: 1;
    position: relative;
    line-height: 0.94rem;
}
.YDDsingle-line-item {
    align-self: stretch;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.75rem;
    color: #636363;
}
.YDDlabel1 {
    flex: 1;
    position: relative;
    letter-spacing: 0.15px;
    line-height: 1.5rem;
}
.YDDlist-item-group-subtitle,
.YDDsingle-line-item1 {
    align-self: stretch;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}
.YDDsingle-line-item1 {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.YDDlist-item-group-subtitle {
    display: none;
}
.YDDsingle-line-item4 {
    overflow: hidden;
}
.YDDselection-control-list-item,
.YDDsingle-line-item4,
.YDDsingle-line-item5 {
    align-self: stretch;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    display: none;
}
.YDDsingle-line-item5 {
    overflow: hidden;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.YDDlabel5 {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
}
.YDDsubtitle {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1rem;
    align-items: center;
    justify-content: flex-start;
}
.YDDlist-item-group-subtitle2,
.YDDsingle-line-item8 {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    display: flex;
}
.YDDlist-item-group-subtitle2 {
    align-self: stretch;
    flex-direction: column;
    padding: 0.5rem 0;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.88rem;
    color: rgba(0, 0, 0, 0.6);
}
.YDDsingle-line-item8 {
    background-color: #fff;
    overflow: hidden;
    flex-direction: row;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 2rem;
}
.YDDsettings-3,
.YDDsingle-line-item8 {
    align-self: stretch;
    justify-content: flex-start;
}
.YDDcontent-area,
.YDDjdinfo,
.YDDsettings-3 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.YDDcontent-area {
    align-self: stretch;
    height: 15.5rem;
    flex-shrink: 0;
    justify-content: flex-start;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
}
.YDDjdinfo {
    position: absolute;
    top: 5.75rem;
    left: calc(50% - 165px);
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #89e1a4;
    box-sizing: border-box;
    width: 20.63rem;
    padding: 1.5rem 1.5rem 0.88rem;
    justify-content: space-between;
    font-size: 1.5rem;
}
.YDDjduphoto-icon {
    position: relative;
    width: 3.69rem;
    height: 3.63rem;
    object-fit: cover;
}
.YDDp,
.YDDp1 {
    margin: 0;
    font-weight: 600;
}
.YDDp1 {
    font-weight: 300;
    color: #636363;
}
.YDDtxt {
    line-break: anywhere;
    width: 100%;
}
.YDDdiv2 {
    position: relative;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 9.5rem;
    flex-shrink: 0;
}
.YDDgroup-child {
    position: absolute;
    top: 0.06rem;
    right: 0;
    border-radius: 20px;
    background-color: #292d32;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 3.75rem;
    height: 1.53rem;
}
.YDDdiv3,
.YDDrectangle-parent {
    width: 3.75rem;
    height: 1.63rem;
}
.YDDdiv3 {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 150%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
.YDDrectangle-parent {
    position: relative;
    text-align: center;
    font-size: 0.75rem;
    color: #fff;
}
.YDDflistprofile,
.YDDflistprofile1 {
    display: flex;
    flex-direction: row;
}
.YDDflistprofile1 {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    padding: 0.75rem 1rem;
    align-items: center;
    justify-content: center;
    gap: 1.63rem;
}
.YDDflistprofile {
    position: absolute;
    top: 32.31rem;
    left: calc(50% - 175px);
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
}
.YDDdiv4 {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 20.36rem;
    height: 1.39rem;
    flex-shrink: 0;
    z-index: 0;
}
.YDDdiv5,
.YDDparent {
    position: absolute;
}
.YDDdiv5 {

    left: calc(50% + 111px);
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    line-height: 1rem;
    font-family: Roboto;
    color: #1554f6;
    text-align: right;
    z-index: 1;
}
.YDDparent {
    top: 30.63rem;
    left: calc(50% - 162px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.63rem;
}
.yangdodetail {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 46.25rem;
    overflow: hidden;
    text-align: left;
    font-size: 0.94rem;
    color: #000;
    font-family: Inter;
}
