.Ylgroup-child,
.Ylyangdolist-child {
  position: absolute;
  border-radius: 3px;
}
.Ylyangdolist-child {
  width: calc(100% - 32px);
  top: 10.31rem;
  right: 1rem;
  left: 1rem;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 2.5rem;
}
.Ylgroup-child {
  top: 0;
  left: 0;
  background-color: #48685e;
  width: 3.75rem;
  height: 1.25rem;
}
.Yldiv {
  position: absolute;
  top: 0.19rem;
  left: 0.31rem;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.13rem;
  height: 0.94rem;
}
.Ylgroup-item,
.Ylrectangle-parent {
  position: absolute;
  height: 1.25rem;
}
.Ylrectangle-parent {
  top: 8.44rem;
  left: 1rem;
  width: 3.75rem;
  text-align: center;
  color: #fff;
}
.Ylgroup-item {
  top: 0;
  right: 0;
  border-radius: 3px;
  background-color: #48685e;
  width: 1.25rem;
}
.Ylicon-pencil-thin,
.Ylrectangle-group {
  position: absolute;
  top: 0.13rem;
  right: 0.13rem;
  width: 0.94rem;
  height: 0.94rem;
}
.Ylrectangle-group {
  top: 8.44rem;
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
}
.Yldiv1 {
  position: absolute;
  top: 10.81rem;
  left: 1.63rem;
  font-size: 0.81rem;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  width: 17.13rem;
  height: 1.56rem;
  border: none;
  outline: none;
}
.Ylicon-search {
  position: absolute;
  top: 10.89rem;
  right: 1.7rem;
  width: 1.34rem;
  height: 1.34rem;
}
.Ylgroup-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: #4f9a81;
}
.Ylam,
.Yldiv2,
.Yldiv3 {
  position: absolute;
  width: 93.39%;
  left: 4.13%;
  letter-spacing: -0.01em;
}
.Yldiv2 {
  height: 26.67%;
  top: 36%;
  font-weight: 600;
  display: inline-block;
}
.Ylam,
.Yldiv3 {
  height: 20%;
  top: 66.67%;
  font-size: 0.75rem;
  /* display: flex; */
  align-items: center;
}
.Ylam {
  top: 12%;
  font-size: 0.63rem;
  text-align: right;
}
.Ylrectangle-container {
  position: absolute;
  height: 61.48%;
  width: 73.78%;
  top: 0;
  right: 0;
  bottom: 38.52%;
  left: 26.22%;
  color: #fff;
}
.Ylrectangle-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: #ebebf0;
  border: 1px solid rgba(217, 217, 217, 0.8);
  box-sizing: border-box;
}
.Ylgroup-icon {
  position: absolute;
  height: 80%;
  width: 13.22%;
  top: 10%;
  right: 83.47%;
  bottom: 10%;
  left: 3.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.Yldiv4,
.Yldiv5 {
  position: absolute;
  height: 37.5%;
  width: 74.38%;
  top: 15%;
  left: 20.66%;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
}
.Yldiv5 {
  height: 25%;
  top: 62.5%;
  left: 21.49%;
  font-size: 0.44rem;
}
.Ylgroup-child1,
.Ylgroup-div {
  position: absolute;
  right: 0;
  bottom: 0;
}
.Ylgroup-div {
  height: 32.79%;
  width: 73.78%;
  top: 67.21%;
  left: 26.22%;
  font-size: 0.75rem;
}
.Ylgroup-child1 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #f8f5f0;
}
.Yldiv6,
.Yldiv7 {
  position: absolute;
  width: 85.71%;
  left: 7.14%;
  letter-spacing: -0.01em;
}
.Yldiv6 {
  height: 25%;
  top: 1.67%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.Yldiv7 {
  height: 41.67%;
  top: 30.83%;
  font-size: 1.88rem;
  display: inline-block;
}
.Ylrectangle-parent1 {
  position: absolute;
  height: 100%;
  width: 21.34%;
  top: 0;
  right: 78.66%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 1.13rem;
}
.Ylgroup-parent {
  position: relative;
  width: 20.13rem;
  height: 7.5rem;
  margin-bottom: 1rem;
}
.Ylblacklistmodalveticalframe {
  position: absolute;
  width: calc(100% - 32px);
  top: 13.88rem;
  right: 1rem;
  left: 1rem;
  height: 34.19rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.88rem;
}
.Ylyangdolist {
  position: relative;
  background-color: #f8f5f0;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.63rem;
  color: #000;
  font-family: Inter;
}
