.yfdiv {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }

  .yfemail,
  .yfemail1,
  .yfparent {
    display: flex;
    justify-content: flex-start;
  }

  .yfemail {
    border: 1px solid #D9D9D9;
    background-color: #fff;
    align-self: stretch;
    border-radius: 6px;
    overflow: hidden;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
    outline: 0;
    font-size: 1rem;
    resize: none;
  }

  .yfemail1,
  .yfparent {
    font-family: Roboto;
  }
  
  .yfemail1 {
    border: 1px solid #D9D9D9;
    font-size: 1rem;
    background-color: #fff;
    align-self: stretch;
    border-radius: 3px;
    overflow: hidden;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
  }

  .yfemail1:focus {
    outline: 0;
  }

  .yfemail2,
  .yfgroup {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }

  .yfgroup {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.38rem;
  }

  .yfemail2 {
    border: 1px solid #D9D9D9;
    font-family: Roboto;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
    outline: 0;
  }
  
  .yframe-yfparent,
  .yframe-yfwrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .yframe-yfwrapper {
    align-self: stretch;
    align-items: flex-start;
    height: 6.5rem;
  }
  
  .yframe-yfparent {
    position: absolute;
    top: 6.0rem;
    left: calc(50% - 163px);
    width: 20.38rem;
    height: 36.19rem;
    align-items: center;
  }

  .yflogo-ex {
    position: absolute;
    top: 0;
    left: 0;
    width: 22.5rem;
    height: 5.25rem;
    display: none;
  }

  .yfgraylbtn-child {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background-color: #fff;
    color: #204337;
  }

  .yfdiv5,
  .yfgraylbtn,
  .yfgraylbtn-child {
    position: absolute;
    top: 0;
  }

  .yfdiv5 {
    height: 100%;
    width: 37.73%;
    left: 30.98%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .yfgraylbtn {
    left: 14.92rem;
    border-radius: 3px;
    width: 5.39rem;
    height: 2.5rem;
  }

  .yfdiv6 {
    flex: 1;
    position: relative;
    letter-spacing: -0.01em;
    font-weight: 500;
  }

  .yframe,
  .yfpopupbtn {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .yframe {
    width: 100%;
    right: 0;
    border-radius: 3px;
    background-color: #48685E;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0.63rem 0.5rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .yfpopupbtn {
    width: 69.13%;
    right: 30.87%;
    color: #000;
  }

  .yfbtngroup {
    position: absolute;
    top: 40.5rem;
    left: 1.06rem;
    width: 20.31rem;
    height: 2.5rem;
    text-align: center;
    font-size: 0.94rem;
  }

  .yform,
  .yangdoform {
    background-color: #F8F5F0;
    height: 46.25rem;
    overflow: hidden;
  }

  .yform {
    position: absolute;
    top: 0;
    left: 0;
    width: 22.5rem;
  }

  .yangdoform {
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 1.13rem;
    color: #292d32;
    font-family: Inter;
  }

  @media screen and (max-width: 960px) {
    .div {
      font-size: 0.88rem;
    }
  }
  