@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
    margin: 0;
    line-height: normal;
}

button {
    border: 0;
    cursor: pointer;
}

.YEyangdodetailend-child {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 20.5rem;
    height: 2.25rem;
    display: none;
}
.YEdiv {
    width: 18.5rem;
    flex: 1;
    position: relative;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.YEwrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: 0.63rem;
    align-items: center;
    justify-content: center;
}
.YElabel {
    position: relative;
    line-height: 0.94rem;
}
.YEdiv1,
.YElabel-wrapper {
    display: flex;
    align-items: center;
}
.YElabel-wrapper {
    align-self: stretch;
    width: 9.08rem;
    flex-direction: row;
    padding: 0.63rem;
    box-sizing: border-box;
    justify-content: center;
}
.YEdiv1 {
    position: absolute;
    top: 0;
    left: calc(50% - 7px);
    letter-spacing: 0.4px;
    line-height: 1rem;
    width: 1.9rem;
    height: 2.19rem;
}
.YEgroup-child {
    position: absolute;
    height: 34.29%;
    width: 31.58%;
    top: 34.29%;
    right: 68.42%;
    bottom: 31.43%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.YEparent {
    position: absolute;
    top: 0;
    left: calc(50% - 18px);
    width: 3rem;
    height: 2.19rem;
}
.YEgroup-wrapper {
    align-self: stretch;
    position: relative;
    width: 2.38rem;
    text-align: right;
    font-family: Roboto;
}
.YEframe-group,
.YEframe-parent {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
}
.YEframe-group {
    flex-direction: row;
    align-items: flex-start;
    gap: 6.69rem;
    font-size: 0.75rem;
    color: #636363;
}
.YEframe-parent {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.19rem;
    font-family: Inter;
}
.YEtime-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}
.YElabel1 {
    flex: 1;
    position: relative;
    letter-spacing: 0.15px;
    line-height: 1.5rem;
}
.YEsingle-line-item {
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    width: 18.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.YEicon-note-1 {
    position: relative;
    width: 1.38rem;
    height: 1.38rem;
}
.YEsecondary-action {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}
.YEsingle-line-item-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.87);
}
.YElabel4 {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
}
.YEsubtitle {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1rem;
    align-items: center;
    justify-content: flex-start;
}
.YElist-item-group-subtitle,
.YEsingle-line-item3 {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    width: 18.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
}
.YEsingle-line-item3 {
    background-color: #fff;
    overflow: hidden;
    flex-direction: row;
    padding: 0.5rem 1rem;
    align-items: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.87);
}
.YEgreenstroke,
.YElist-item-group-subtitle-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.YElist-item-group-subtitle-parent {
    align-self: stretch;
    padding: 0.63rem 0;
    font-size: 0.88rem;
    color: rgba(0, 0, 0, 0.6);
}
.YEgreenstroke {
    border-radius: 10px;
    border: 2px solid #48685E;
    box-sizing: border-box;
    width: 20.5rem;
    padding: 1rem 1rem 0;
    font-size: 1.25rem;
    font-family: Roboto;
    background-color: #fff;
}
.YEdiv2 {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 20.36rem;
    height: 1.39rem;
    flex-shrink: 0;
    z-index: 0;
}
.YEdiv3,
.YEgroup {
    position: absolute;
}
.YEdiv3 {
    margin: 0 !important;
    top: 0.25rem;
    left: calc(50% + 110px);
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    line-height: 1rem;
    font-family: Roboto;
    color: #1554f6;
    text-align: right;
    z-index: 1;
}
.YEgroup {
    top: 0;
    left: calc(50% - 164px);
    width: 20.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.63rem;
}
.YEjduphoto-icon {
    position: relative;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 13px;
    border: 1px solid #D9D9D9;
}
.YEp,
.YEp1 {
    margin-bottom: 5px;
    font-weight: 600;
}
.YEp1 {
    font-weight: 300;
    color: #636363;
}
.YEtxt {
    line-break: anywhere;
    width: 100%;
}
.YEdiv4 {
    position: relative;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 9.5rem;
    flex-shrink: 0;
}
.YEgroup-item {
    position: absolute;
    top: 0.06rem;
    right: 0;
    border-radius: 20px;
    background-color: #C8EEC3;
    box-sizing: border-box;
    width: 3.75rem;
    height: 1.53rem;
}
.YEdiv5,
.YErectangle-parent {
    width: 3.75rem;
    height: 1.63rem;
}
.YEdiv5 {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 150%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #204337;
    cursor: pointer;
}
.YErectangle-parent {
    position: relative;
    text-align: center;
    font-size: 0.75rem;
    color: #fff;
}
.YEflistprofile,
.YEflistprofile1 {
    display: flex;
    flex-direction: row;
}
.YEflistprofile1 {
    align-self: stretch;
    flex: 1;
    border-radius: 8px;
    background-color: #F8F5F0;
    overflow: hidden;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}
.YEflistprofile {
    position: absolute;
    top: 1.38rem;
    left: calc(50% - 164px);
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
}
.YEframe-container {
    align-self: stretch;
    position: relative;
    height: 6.5rem;
}
.YEgraylbtn-child {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background-color: #fff;
    color: #204337;
}
.YEdiv6,
.YEgraylbtn,
.YEgraylbtn-child {
    position: absolute;
    top: 0;
}
.YEdiv6 {
    height: 100%;
    width: 37.73%;
    left: 30.98%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.YEgraylbtn {
    left: 15.11rem;
    border-radius: 3px;
    width: 5.39rem;
    height: 2.5rem;
}
.YEdiv7 {
    flex: 1;
    position: relative;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.YEframe,
.YEpopupbtn {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}
.YEframe {
    width: 100%;
    right: 0;
    border-radius: 3px;
    background-color: #48685E;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0.63rem 0.5rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.YEpopupbtn {
    width: 68.5%;
    right: 31.5%;
    color: #000;
}
.YEgraylbtn-parent {
    position: relative;
    width: 20.5rem;
    height: 2.5rem;
    text-align: center;
    color: #292d32;
}
.YEgreenstroke-parent {
    position: absolute;
    top: 5.19rem;
    left: 1.06rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.38rem;
}
.YEyangdodetailend {
    position: relative;
    background-color: #F8F5F0;
    width: 100%;
    height: 46.25rem;
    overflow: hidden;
    text-align: left;
    font-size: 0.94rem;
    color: #000;
    font-family: Inter;
}

.YElabelUp{
    cursor: pointer;
}
