.scoretable{
    width: 21rem;
}
.firsttd{
    width: 3rem;
    height: 2.5rem;
}
.tdbg{
    background-color: #39c751;
}
.ranking_btnwrap{
    width: 100%;
    text-align: center;
    border: 1px black solid;
}

.ranking_hole{

}

.ranking_par{

}

.ranking_score{

}