.header_wrap{
    
}

.ranking_listwrap{
    width: 100%;
    height: 100vh;
    
}

.my_ranking{
    width: 95%;
    height: 150px;
    margin: 0 auto 25px auto;
    border-radius: 10px ;
    background-color: rgba(0, 0, 0, 0.1);
}
.ranking_bar{
    width: 95%;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.07);
    margin-bottom: 15px;
}

.ranking_bar1{
    width: 95%;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #fcdd2c 0%, #f8e170 100%);
}


.ranking_bar2{
    width: 95%;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 15px;    
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}

.ranking_bar3{
    width: 95%;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 15px;
    background: linear-gradient(to right, #a47c6d, #c78e79);
}


/*modal*/
.ranking_modal{
    position: fixed;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    width: 100%;
    border: black 1px solid;
    z-index: 10;
}
.ranking_modal.open {
    bottom: 0;
    transform: translateY(0%);
}
.ranking_modal.close{
    bottom: -100%;
    transform: translateY(1000%);
}
.modal_background {
    /* 배경 스타일 */
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);


}
.ranking_list{

}
.ranking_list rank1{

}
.ranking_list rank2{

}
.ranking_list rank3{

}

