.header_wrap {
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 1.88rem;
    font-family: 'Zen Dots';
}
.mlogo{
    width: 70%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
}
.header_menuicon{
    width: 15%;
}
.header_usermenu{
    width: 15%;
}