/* Add the Google Fonts import here if you haven't already */
/* Add any other global styles you might have */

body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* Use the Inter font for the entire page */
    background-color: #f8f5f0; /* Set the background color to #f8f5f0 */
}

/* Update the header styles */
.HG_hugi_header {
    position: sticky;
    top: 0;
    max-width: 360px;
    margin: auto;
    z-index: 9999;
    background-color: #ffffff; /* Set the header background color to white */
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.HG_hugi_headerWrapper {
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjust alignment to resemble Threads */
    flex-direction: column; /* Change to a vertical layout */
}

.HG_hugi2 {
    background-color: #ffffff; /* Set the background color to white */
    max-width: 360px;
    max-height: 100%;
    padding: 10px; /* Increase padding for better spacing */
    border: 1px solid lightgray; /* Add a light gray border */
    margin: auto;
    overflow-y: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Update the button styles to match Threads */
.HG_button,
.HG_button_hugis,
.my_HG_button,
.my_HG_button_hugis {
    background-color: #0095f6;
    color: #ffffff; /* Set the text color to white */
    padding: 8px 16px; /* Increase padding for larger buttons */
    font-weight: bold;
    font-size: 14px; /* Increase font size for larger buttons */
    text-align: center;
    border-radius: 999px; /* Use a large border-radius for circular buttons */
    cursor: pointer;
    border: none; /* Remove the border for a cleaner look */
}

/* Update the file upload styles */
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #0095f6; /* Use the blue color for the border */
    width: 70%;
    color: #000000; /* Set the text color to black */
}

.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff; /* Set the text color to white */
    vertical-align: middle;
    background-color: #0095f6; /* Use the blue color for the background */
    cursor: pointer;
    width: 30%;
    height: 40px;
    font-weight: bold;
}

/* Update the timeline styles */
.timeline {
    margin: 10px auto;
    padding: 10px;
    overflow-y: auto;
    max-width: 360px;
    max-height: 100%;
    background-color: #ffffff; /* Set the background color to white */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Update any other styles as needed to match the Threads app */
