/* Add any global styles here */

/* Use the Inter font for the entire page */
body {
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8f5f0;
  }
/* 헤더 스타일 업데이트 */
.HG_hugi_header {
    /* 기존 헤더 스타일 */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    border-top: 1px solid lightgray;
  }
  
  .HG_hugi_headerWrapper {
    /* 기존 헤더 래퍼 스타일 */
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .HG_hugi2 {
    background-color: #fafafa;
    max-width: 360px;
    max-height: calc(100% - 65px); /* Subtract header height from max-height */
    padding: 4px;
    border: 0px solid lightgrey;
    margin: auto;
    overflow-y: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .HG_hugi2::-webkit-scrollbar {
    display: none;
  }
  
  .HG_timeline {
    margin: 10px auto;
    padding: 10px;
    max-width: 360px;
    min-height: 170px;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .HG_timeline::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }
  
  /* Update the icon styles to use Font Awesome icons */
  .HG_icon {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Add tab container for the buttons */
  .HG_tab_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
  }
  
  /* Update the icon buttons to have a circular background and adjust colors */
  .HG_button,
  .HG_button_hugis,
  .my_HG_button,
  .my_HG_button_hugis {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89e1a4;
    color: #48685E;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
  }
  
  
  
  .filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 70%;
    color: black;

}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    vertical-align: middle;
    background-color: RGB(137 225 164);
    cursor: pointer;
    width:30%;
    height: 40px;
    font-weight: bold;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

  
  /* Update the timeline styles */
  .timeline {
    margin: 10px auto;
    padding: 10px;
    max-width: 360px;
    max-height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Other styles... */
  