
.HG_list {
    max-width:360px;
    max-height:100%;
    background-color: #fafafa;
    border: 1px solid lightgray;
    margin-bottom: 25px;
    padding: 3px;
}
.HG_list_detail{
    max-width:360px;
    max-height:100%;
    background-color: white;
    border: 1px solid lightgray;
    margin:auto;
    padding: 5px;
}
.HG_list_image {
    max-width: 100%;
    max-height: 300px;
    min-width: 200px;
    min-height: 150px;
    text-align: center;
    margin:auto;
    padding:5px;
    object-fit: cover;
    cursor: pointer;
}
.HG_list_detailimage {
    max-width: 100%;
    max-height: 100%;
    min-width: 200px;
    min-height: 150px;
    text-align: center;
    margin: auto;
    padding: 10px;
    object-fit: cover;

}
.HG_list_text {
    height:100%;
    font-weight: normal;
    text-align: left;
    padding: 20px 20px;
    white-space: pre-wrap;
    font-size: 13px;
}
.HG_list_header {
    display: flex;
    align-items: center;
    padding: 12px 12px;
}
.HG_list_avatar {
    margin-right:5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.HG_list_avatar_Comment1 {
    position: relative;
    bottom: 20px;
    right:20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.HG_list_avatar_Comment2 {
    position: relative;
    bottom:5px;
    left:10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.HG_list_avatar_Reply {
    position: relative;
    top:5px;
    right:5px;
    width: 25px;
    height: 25px;
    cursor: pointer;

}
.HG_button {
    background-color: RGB(137 225 164);
    border-radius: 4px;
    color: black;
    padding: 5px 9px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}
.HG_button_Comment {
    background-color: RGB(137 225 164);
    border-radius: 4px;
    color: black;
    padding: 5px 9px;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    width: 30%;
}
.HG_button_Reply {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: RGB(137 225 164);
    color: black;
    padding: 5px 5px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    width:33%;
    height:40px;
    resize:none;
}

.HG_CommentAlert{
    font-size:12px;
    margin-top: 5px;
    margin-left: 12px;
    color: red;
}
.HG_ReplyAlert{
    font-size:12px;
    margin-bottom: 5px;
    margin-left: 15px;
    color:red;
}

.HG_Icons{
    cursor: pointer;
    margin-left: 20px;
    display: flex;
}
.HG_IconsZone{
    width: 100%;
    margin-bottom: 10px;
    margin-left: 5px;
}
.HG_Click_ReplyForm{
    position:relative;
    left:34px;
    bottom: 43px;
    cursor:pointer;
    color:blue;
    text-decoration: none;
    font-size: 12px;
}
.HG_Comment_Reply_List{
    margin-left: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.HG_spanRhwriteday{
    position: relative;
    left: 23px;
    bottom: 44px;
    font-size: 7px;
    
}
.HG_preComment{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;

}
.HG_preRhcontent{
    position: relative;
    width:100px;
    height: 100%;
    bottom: 33px;
    left: 130px;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;

}
.HG_preReplyRhcontent{
    position: relative;
    bottom: 46px;
    left: 120px;
    width:70px;
    height: 100%;
    font-size: 13px;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;

}
.HG_detail_preReplyRhcontent{
    position: relative;
    bottom: 47px;
    left: 130px;
    width:100px;
    height: 100%;
    font-size: 13px;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;
}
.HG_spanWriteday{
    float: right;
    margin-right: 10px; /* 더 적절한 간격으로 조정하세요 */
    color: gray;
}
.HG_spanCommentList{
    position: relative;
    bottom:58px;
    left: 23px;
    font-size:18px;
    font-weight: bold;

}

.HG_spanName{
    position: relative;
    left:5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px; /* Adjust font size for better readability */
    font-weight: bold;
}
.HG_Delete_Icon{
    position: relative;
    bottom: 62px;
    left:60px;
    font-size: 15px;
    zoom: 0.7;
    cursor: pointer;
}
.HG_Dialog_div{
    width: 100%;
    max-width: 360px;
    height: 550px;
    overflow-x: hidden;
}
.HG_Dialog_Title{
    margin-top: 20px;
    padding: 20px 20px;
    width: 250px;
    height:40px;
}

.HG_Dialog_Foot_div{
    width: 100%;
    position: relative;
    top: 10px;
    right: 10px;
}
.HG_ReplyNickname{
    position: relative;
    bottom:30px;
    left:50px;
    cursor: pointer;
}
.HG_details_Reply{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    padding: 0 10px;
    left: 10px;
    width: 225px;
    height: 100%;
}
.HG_details_Reply > summary{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    width:100px;
    left: 10px;
    bottom: 10px;
    background-color:RGB(137 225 164);
    cursor: pointer;
    font-weight: bold;
    color: black;
    text-align: center;
    padding:5px 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.HG_detail_details_Reply{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    padding: 0 10px;
    left: 10px;
    width: 320px;
    height: 100%;
}
.HG_detail_details_Reply > summary{
    position: relative;
    width:100px;
    left: 10px;
    bottom: 10px;
    background-color:RGB(137 225 164);
    cursor: pointer;
    font-weight: bold;
    color: black;
    text-align: center;
    padding:5px 5px;
    margin-top: 20px;
    border-radius: 5px;
}
.HG_Comments{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    max-height: 100%;
}
.HG_Commentname{
    position: relative;
    width: 100px;
    height:20px;
    top:25px;
    left:55px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.HG_NoComments{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
