.list {

    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}
.list_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.list_text {
    font-weight: normal;
    padding: 15px 20px;
}
.list_header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
.list_avatar {
    margin-right: 10px;
}