.list {
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 30px;
}
.list_image {
    width: 100%;
    height: auto; /* 원하는 크기로 조정하세요 */
    object-fit: cover;
}
.list_text {
    font-weight: normal;
    padding: 15px 20px;
}
.list_header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
.list_avatar {
    margin-right: 10px;
}
.primary_button {
    background-color: #0095f6;
    border-radius: 4px;
    color: #fff;
    padding: 5px 9px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.Icons{
    cursor: pointer;
    margin-left: 15px;
}