@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
.header{
    width: 100%;
    height: 80px;
}

.notice_wrap{
    width: 100%;
    height: 100vh;
    background-color: #F8F5F0;
    font-family: 'Inter';
    
    
}
.notice_header{
    width: 100%;
    height: 50px;
    background-color: #1F4337;
    color: white;
    line-height: 50px;
    padding-left: 20px;
}
.notice_table{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
}
.notice_writeBtn{
    position: absolute;
    background-color: #1F4337;
    border-radius: 4px;
    width: 21px;
    height: 21px;
    right: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice_table thead{
    border-bottom: 2px black solid ;
}
.notice_table td:first-child{
    width: 20%;
}
.notice_table td:nth-child(2){
    width: 20%;
}
.notice_table td:last-child{
    width: 60%;
}

.noticeList_head{
    width: 100%;
}
.notice_table tr{
    height: 50px;
}

.notice_table td{
    border-bottom: 2px lightgray solid ;
    height: 10px;
    font-size: 12px;
}

.notice_pageNum {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.notice_pageNum button{
    
    background-color: transparent;
}

