.nform_wrap{
    width: 100%;
    height: 100vh;
    background-color: #F8F5F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}.nform_subject{
    width: 75%;
    height: 50px;
    text-align: center;
    border: none;
}
.nform_txt{
    width: 75%;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
