.nform_wrap{
    width: 100%;
    height: 100vh;
    background-color: #F8F5F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.nform_wrap h5{
    position: relative;
    right: 85px;
    width: 100px;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
.nform_subject{
    width: 75%;
    height: 50px;
    text-align: center;
    border: none;
}
.nform_sel{
    width: 75%;
    margin: 0 auto;
    
}
.nform_sel select{
    width: 100px;
    height: 30px;
    border: none;
}
.nform_txt{
    width: 75%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    
}
.nform_txt img{
    width: 100%;
    height: 30%;
}
.nform_txt textarea{
    width: 100%;
    height: 70%;
    border: none;
}
