.current-page-indicator{
    position: relative;
    left: 300px;
    bottom: 30px;
    width: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 12px;
}
